<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}'s Profile | MicroServer Example</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {{> header}}

    <main>
        <div class="container">
            <h1 style="text-align: center;">{{user.username}}'s Profile</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat alias soluta quo nesciunt voluptatem facilis amet id, maiores ipsa, iste distinctio ipsum nulla perferendis officiis maxime ad beatae ipsam veritatis ratione illum fugit assumenda itaque? Impedit modi earum cum ipsa facilis voluptatem unde praesentium, voluptate recusandae dolor voluptatibus expedita? Autem voluptatem nemo nesciunt quae laudantium vel alias minus repellat sunt quas! Itaque inventore eveniet nostrum deserunt totam dolorum, incidunt tenetur officiis praesentium sed, impedit rerum aut ullam quam. Esse vitae dolor quod nesciunt pariatur iure perferendis ullam id quos voluptatibus blanditiis suscipit consectetur molestias, ratione exercitationem tenetur officia animi autem perspiciatis. Temporibus rem obcaecati iste molestias quod est unde cum cupiditate illum, pariatur suscipit laboriosam numquam aliquid mollitia maxime expedita iusto dolorem neque sapiente quasi quaerat. Sequi maiores fugit cumque in, illo asperiores libero laudantium nemo, quidem provident voluptatum minima praesentium, consequuntur architecto voluptatem cum dolores neque nostrum voluptatibus expedita accusamus quaerat? Tempore eum non commodi reiciendis quae soluta maiores, enim, quos dolores obcaecati cum perspiciatis sapiente, officiis aspernatur ipsum error nulla eaque consequatur explicabo voluptates cupiditate. Quidem laborum esse harum ad odit, pariatur fuga ipsum aspernatur architecto obcaecati fugit eligendi nobis impedit est ex modi saepe temporibus earum.</p>
        </div>
    </main>
</body>
</html>
